<h1>Real-time Search</h1>

<div id="search-container">
  <input type="text" id="search-input" placeholder="Type your search...">
  <ul id="search-results"></ul>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="<%= asset_path('search.js') %>"></script>
